<section>
    <p>Looks like you forgot your password</p>
    <p>Don't worry, it happens to the best of us!</p>
    <form class="forgotPassword-form" name="form" (ngSubmit)="f.form.valid && submitEmail()" #f="ngForm" novalidate>
        <div class="forgotPassword-email" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <input type="text" class="login-email-input" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            <label class="forgotPassword-email-label" for="email">Email</label>
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="login-button">
            <button [disabled]="loading" class="btn btn-primary">Submit Email</button>
        </div>
    </form>
    <div *ngIf="emailSent">An email was sent to {{model.email}}</div>
</section>

