.dashboard-header {
    width: 100vw;
    height: 10vh;
    border-bottom: 1px solid black;
    box-shadow: 1px 11px 12px #888888;
    background: mintcream;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
    position: relative;
    z-index: 10;
}

.dashboard-header h1 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}

.dashboard-main {
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #869E9C;
}

.dashboard-addUser-button,
.dashboard-logout-button {
    outline: none;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    border: none;
    background: transparent;
    font-size: 14px;
}

.dashboard-addUser-button:hover {
    font-size: 15px;
    text-decoration: underline;
}

.dashboard-logout-button:hover {
    font-size: 15px;
    text-decoration: underline;
}

.addUser {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmDelete {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
