<section class="userList-main">
    <h1>User List</h1>
    <div class="userList-users">
        <div *ngFor="let user of pagedUsers" (click)="selectUser(user.id, user.first_name, user.last_name)" class="userList-user">
            <div class="userList-name">{{user.first_name}} {{user.last_name}}</div>
            <div class="userList-email">{{user.email}}</div>
            <button class="userList-delete-button" (click)="confirmDelete(user.id)">Delete</button>
        </div>
    </div>
    

    <ul *ngIf="pagerDetails.pages && pagerDetails.pages.length" class="userList-pagination">
        <li [ngClass]="{'disabled':pagerDetails.currentPage === 1}">
            <button (click)="setPage(1)">First</button>
        </li>
        <li [ngClass]="{'disabled':pagerDetails.currentPage === 1}">
            <button (click)="setPage(pagerDetails.currentPage - 1)">Prev</button>
        </li>
        <li *ngFor="let page of pagerDetails.pages" [ngClass]="{'active activePage':pagerDetails.currentPage === page}" class="activePage">
            <button (click)="setPage(page)">{{page}}</button>
        </li>
        <li [ngClass]="{'disabled':pagerDetails.currentPage === pagerDetails.totalPages}">
            <button (click)="setPage(pagerDetails.currentPage + 1)">Next</button>
        </li>
        <li [ngClass]="{'disabled':pagerDetails.currentPage === pagerDetails.totalPages}">
            <button (click)="setPage(pagerDetails.totalPages)">Last</button>
        </li>
    </ul>
</section>