<section *ngIf="userIsValidated">
    <form class="resetPassword-form" name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
        <div class="resetPassword-email" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input type="password" class="resetPassword-password-input" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <label class="resetPassword-password-label" for="password">Password</label>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="resetPassword-password" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <input type="password" class="resetPassword-password-input" name="password" [(ngModel)]="model.verifyPassword" #password="ngModel" required />
            <label class="resetPassword-password-label" for="password">Verify Password</label>
            <div *ngIf="f.submitted && !password.valid" class="help-block">Verify Password is required</div>
        </div>
        <div class="resetPassword-button">
            <button [disabled]="loading" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</section>